<h1>Restaurants</h1>

<% @restaurants.each do |restaurant| %>

 
 <b> <%= link_to(restaurant.name, restaurant_path(restaurant) ) %> </b> <br>
  <%= restaurant.address %>, <%= restaurant.neighbourhood %> <br>
  <%= restaurant.category %> <br> 
  <%= restaurant.pricerange %><p> 

  <%= restaurant.description %><br>
  <%= restaurant.timeslots %></p>

  <% end %>