<H1> <%= @restaurant.name %> </H1> <br> 
  <%= @restaurant.address %>, <%= @restaurant.neighbourhood %> <br>
  <%= @restaurant.category %> <br> 
  <%= @restaurant.pricerange %><p> 

  <%= @restaurant.description %><br>
  <%= @restaurant.timeslots %></p>