<H1> <%= @restaurant.name %> </H1> <br> 
  <%= @restaurant.address %>, <%= @restaurant.neighbourhood %> <br>
  <%= @restaurant.category %> <br> 
  <%= @restaurant.pricerange %><p> 

  <%= @restaurant.description %><br>
  <%= @restaurant.timeslots %></p>

<% if current_user %>

<%= link_to "Book your reservation", new_restaurant_reservation_path(@restaurant) %>

  <% else %>
  <p>Please <%= link_to "log in", new_session_path %></p> 
<% end %>

